body {
  font-size: 18px;font-family: Arial, Helvetica, sans-serif;
  margin-left: 5vw ;margin-right: 5vw;margin-top: 3vw;
}

p {text-align: justify;}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 100%;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 45em;
  margin-left: auto; margin-right: auto;
}
.grid-item { color: rgb(8, 8, 8);
  background-color: rgba(255, 255, 255, 0.8);
    padding: 0.4rem;
  font-size: calc(0.6em + 0.6vw);
  text-align: center;
  padding-bottom: 1.5em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  
}

.responsive {
  width: 100%;
  height: auto;
  border-style: solid ; 
  border-width: 1px ;
  border-color: #9c9ea044 ;
  border-radius: 3% ; 
  align-items: center; 
}

#flex-container {
  display: flex;
  background-color: DodgerBlue;
}

#flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.home {
    display: block; margin-left: auto; margin-right: auto;
  ; border-radius: 50% ; }
.header{ display: block; clear: right; text-align: center; font-size: calc(0.6em + 0.6vw);}

#About{ display: flex; flex-wrap: wrap; margin-left: auto; margin-right: auto; max-width: 40em;
    text-align: center;
  }


#Navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(231, 238, 237, 0.904);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  #Navlinks a, #projects {
    float: none;
    width: 100%;
  }
}

.btn{
  float: left;
}

li a{
  display: block;
  color: rgb(27, 26, 34);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

li a:hover {
  background-color: rgba(89, 116, 119, 0.342);
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.active {
  background-color: rgb(80, 83, 80); color: white;
}

.subheaders {font-size: 20px; color: rgb(87, 87, 97); padding-top: 60px;}


/* Projektu tabula */


/* #img_pr {border-style: solid ; border-width: 1px ; border-color: #9c9ea044  ; border-radius: 3% ; align-items: center; } */


/* Prasmes */

/* #w3-light-grey{color:#000!important;background-color:#f1f1f1!important}

#w3-round-xlarge{border-radius:16px}

#w3-container{padding:0.01em 16px}

#w3-blue{font-size: 20px ; color:#fff!important;background-color:rgb(58, 196, 24)!important} */

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-blue,.w3-hover-blue:hover{font-size: calc(0.6em + 0.6vw); color:#fff!important;background-color:rgb(58, 196, 24)!important}


/* Sazināties */

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, area {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=number], select, area {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #1f3858;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5c6883;
}

#contact {
  border-radius: 5px;
  background-color: rgba(27, 26, 34, 0.678);
  padding: 20px;
}

h5{font-size: 20px; margin-top: 10px; color: white; }

.form-label{color: white;font-size: 14px;}

/* Footer */

.site-footer
{
  background-color:#ffffff;
  padding:20px 0px 20px 0px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#737373;
  font-size:16px;
  text-transform:uppercase;
  margin:20px 0 10px 40px;
  /* margin-left: 40px; */

  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align: left
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:5px;
  margin-left:6px;
  margin-right:6px;
  border-radius:100%;
  background-color:#333438
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.text-justify {margin-left: 40px;}

/* .flex{height: 500px; display: flex;
  flex-direction: wrap;
  flex-direction: row;} */

  /* .flex .flex-item{flex-basis: 25%;padding: 20px;border: 1px solid gray;} */
